.new{
	height: 400px;
	width: 1000px;
	margin: 0 auto;
	margin-top: 50px;
	border-bottom: #666 1px solid;
}
.roll{
	width: 100%;
	height: 43px;
	background-color: #666666;
}
.btn-form{
	width: 150px;
	height: 40px;
}
.pro-select{
	padding: 6px 12px;
	border-radius: 5px;
}
