.i-main{
	height: 400px;
	width: 800px;
	margin: 0 auto;
	margin-top: 50px;
	border-bottom: #666 1px solid;
}
.c-main{
	height: 600px;
	width: 800px;
	margin: 0 auto;
	margin-top: 50px;
	border-bottom: #666 1px solid;
}
