.i-year{
	height: 500px;
	width: 900px;
	margin: 0 auto;
	margin-top: 50px;
	border-bottom: #666 1px solid;
}
.i-sex{
	height: 300px;
	width: 900px;
	margin: 0 auto;
	margin-top: 50px;
	border-bottom: #666 1px solid;
}